body{
    margin: 0px;
}

table{
    border: 2px solid black;
    background-color: #FFC
}

th{
    border-bottom: 3px solid #000;
    text-align: left;
}

td{
    border-bottom: 2px solid #666;
    text-align: left;
}

h1{
    font-size: 40px;
    font-family: arial;
    text-transform: uppercase;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #FFC;
  font-family: arial;
  font-size: 20pt;
}



button[type=submit] {
    width: 100%;
    font-size: 36pt;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    background-color: lightgreen;
    border-radius: 5px;
    border: 5px black solid;
}

::placeholder{
    text-transform: uppercase;
}


button:hover{
    font-size: 40pt;
}


#insert{
    background-color: lightblue;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

#edit{
    background-color: coral;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

#remove{
    background-color: grey;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

#forms{
    background: lightgrey;
    padding: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
